<header class="c-logo-header">
    <img src="/assets/logo.png" alt="Criss-Cross" class="c-logo-img"/>
</header>

<div class="o-col-1-3"><div class="o-spacer-1"></div></div>
<div class="c-main-content c-main-content--featured o-col-1-3">
    <h3 class="o-text-centered">Pick a side:</h3>
    <div class="o-twostate o-container">
        <div class="o-twostate__left" {{action "pick_x"}}>X</div>
        <div class="o-twostate__center"></div>
        <div class="o-twostate__right" {{action "pick_o"}}>O</div>
    </div>
</div>
